<section class="user">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">Vous n'avez pas de compte ?</h2>
        <p class="user_unregistered-text">Pour vous connecter, vous devez avoir un compte <a
          (click)="openLink('https://www.minecraft.net/store/minecraft-java-edition')" href="#">Minecraft Java
          Edition</a> actif.<br>Toute les information sont envoyer directement a <a
          (click)="openLink('https://wiki.vg/Authentication')" href="#">Mojang</a>.</p>
        <button (click)="openLink('https://checkout.minecraft.net/store/minecraft/#register')"
                class="user_unregistered-signup" id="signup-button">Sign up
        </button>
      </div>
    </div>

    <div class="user_options-forms" id="user_options-forms">
      <div class="user_forms-login">
        <h2 class="forms_title">Login</h2>
        <div class="forms_form">
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <label>
                <input #email autofocus class="forms_field-input" placeholder="Email | Nom d'utilisateur" type="text"/>
              </label>
            </div>
            <div class="forms_field">
              <label>
                <input #password class="forms_field-input" placeholder="Password" type="password"/>
              </label>
            </div>
          </fieldset>
          <div class="forms_buttons">
            <button (click)="openLink('https://www.minecraft.net/password/forgot')" class="forms_buttons-forgot"
                    type="button">Forgot password?
            </button>
            <input (click)="login()" class="forms_buttons-action" type="submit" value="Log In">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
