<div [style]="style()" class="login-page">


  <div class="widgets">
    <div class="card">
      <p class="amount">Sélectionner Votre Jeux</p>
      <div class="cards">
        <div (click)="selectGame(game)" *ngFor="let game of games; index as i" [class.card_active]="game.active"
             class="card_list">

          <div class="credit_card">
            <img [alt]="game.name" [src]="game.image">
          </div>

          <div class="card_details">
            <p>{{game.name}}</p>
            <p>{{game.slg}}</p>
          </div>

          <div *ngIf="game.active" class="checkmark_active">
            <svg fill="none" height="22" viewBox="0 0 29 22" width="29" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.1315 21.2655C10.8652 21.5334 10.5018 21.6828 10.1244 21.6828C9.74698 21.6828 9.38365 21.5334 9.11734 21.2655L1.0746 13.2214C0.239943 12.3868 0.239943 11.0333 1.0746 10.2002L2.08167 9.19291C2.91659 8.35825 4.26848 8.35825 5.10314 9.19291L10.1244 14.2144L23.6926 0.645984C24.5275 -0.188676 25.8807 -0.188676 26.7141 0.645984L27.7211 1.65331C28.5558 2.48798 28.5558 3.84117 27.7211 4.67452L11.1315 21.2655Z"
                fill="#23B75A"/>
            </svg>
          </div>

          <div *ngIf="!game.active" class="checkmark_container">
            <div class="checkmark_inactive">
            </div>
          </div>
        </div>
      </div>
      <button [routerLink]="['/login/', toLogin()]">Valider</button>
    </div>
  </div>

</div>
