.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.fade-in {
  animation: fadeIn ease 2s;
}

.fade-out {
  animation: fadeOut ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
