<div class="alert">
  <div *ngFor="let alert of revert()" [ngClass]="cssClass(alert)" class="box">
    <div class="iconArea">
      <fa-icon [icon]="cssClassIcons(alert)" class="icons-left"></fa-icon>
    </div>
    <div class="closeArea">
      <fa-icon (click)="removeAlert(alert, true)" [icon]="icons.close" class="close"></fa-icon>
    </div>
    <div class="copyArea">
      <div>
        <strong [innerHTML]="alert.title"></strong><br>
        <div [innerHTML]="alert.message"></div>
      </div>
    </div>
  </div>
</div>
