.alert {
  color: white;
  margin: 0 auto;
  z-index: 999;
  position: absolute;
  top: 30px;
  right: 15px;
  padding-left: 15px;
}

.box {
  padding: 0 15px;
  margin: 20px 5px;
  overflow: hidden;
}

.iconArea {
  float: left;
  margin: 20px 10px 20px 0;

  .icons-left {
    font-size: 35px;
  }

}

.copyArea {
  max-width: 850px;
  min-width: 100px;
  float: none;
  display: flex;
  overflow: hidden;
  text-align: left;
  align-items: center;

  :first-child {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}

.closeArea {
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 5px;

  .close {
    cursor: pointer;
    font-size: 20px;
    margin-left: 15px;

    :after {
      cursor: pointer;
    }
  }
}

.fade {
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;

  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Unique Box Styles */
.success {
  background: #38C73C;
  border-radius: 3px;
}

.error {
  background: #D50000;
  border-radius: 3px;
}

.info {
  background: #363636;
  border-radius: 3px;
}

.warning {
  background: #FF8F00;
  border-radius: 3px;
}
