#header {
  display: block;
  margin-bottom: 22px;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('../assets/fonts/Avenir-Book.ttf');
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('../assets/fonts/Avenir-Medium.ttf');
}

@font-face {
  font-family: 'Ringbearer';
  src: url('../assets/fonts/Ringbearer.ttf');
}
