.all {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: background-color 2s ease;

  .content {
    position: relative;
    transition: top 2s ease;
    width: 100%;
    height: 97.6%;
  }

  .news-content {
    position: relative;
    transition: top 2s ease;
    width: 100%;
    height: 97.6%;
  }

  .bottom {
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 2s ease;
    width: 100%;
    height: 5%;

    .news {
      display: flex;
      transition: top 2s ease;
      width: calc(100% / 3);
      align-items: center;
      justify-content: center;

      #newsButton {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;

        &:hover {
          #newsButtonText {
            text-shadow: 0 0 20px #fff, 0 0 20px #fff;
          }

          #newsButtonSVG {
            -webkit-filter: drop-shadow(0px 0px 2px #fff);
          }
        }

        &:focus {
          #newsButtonText {
            text-shadow: 0 0 20px #fff, 0 0 20px #fff;
          }

          #newsButtonSVG {
            -webkit-filter: drop-shadow(0px 0px 2px #fff);
          }
        }

        &:active {
          color: #c7c7c7;
          text-shadow: 0 0 20px #c7c7c7, 0 0 20px #c7c7c7;

          #newsButtonSVG {
            .arrowLine {
              stroke: #c7c7c7;
            }

            -webkit-filter: drop-shadow(0px 0px 2px #c7c7c7);
          }
        }

        &:disabled {
          #newsButtonSVG {
            .arrowLine {
              stroke: rgba(255, 255, 255, 0.75);
            }
          }
        }
      }

      #newsButtonAlert {
        width: 5px;
        height: 5px;
        position: absolute;
        border-radius: 50%;
        background: red;
        left: calc(50% + (50px / 2) + 2px);
        top: 60%;
      }

      #newsButtonSVG {
        height: 11px;
        margin-left: -2px;
        transition: 0.25s ease;
      }

      #newsButtonText {
        color: white;
        font-weight: 900;
        letter-spacing: 2px;
        text-shadow: 0 0 0 #bebcbb;
        font-size: 11px;
        line-height: 30px;
        display: flex;
        transition: 0.25s ease;
      }
    }
  }
}
