<div id="frameBar">
  <div class="frameDragPadder" id="frameResizableTop"></div>
  <div id="frameMain">
    <div class="frameResizableVert frameDragPadder"></div>
    <div id="frameContentWin"> <!--Drag on drop de la page : frameContentWin-->
      <div id="frameTitleDock">
        <span *ngIf="showName()" id="frameTitleText">{{title}} - <span
          style="text-transform: uppercase">{{version}}</span></span>
      </div>
      <div id="frameButtonDockWin">
        <button (click)="openConsole()" class="frameButton" id="frameButton_debug" tabIndex="-1">
          <fa-icon [icon]="icons.terminal"></fa-icon>
        </button>
        <button (click)="showInfo()" class="frameButton" id="frameButton_info" tabIndex="-1">
          <fa-icon [icon]="icons.info"></fa-icon>
        </button>
        <button (click)="miniApp()" class="frameButton" id="frameButton_minimize" tabIndex="-1">
          <fa-icon [icon]="icons.windowMinimize"></fa-icon>
        </button>
        <button (click)="closeApp()" class="frameButton" id="frameButton_close" tabIndex="-1">
          <fa-icon [icon]="icons.windowClose"></fa-icon>
        </button>
      </div>
    </div>
    <div class="frameResizableVert frameDragPadder"></div>
  </div>
</div>

<div [ngClass]="{'show': this.info, 'hide': !this.info}" class="info fade">
  <div class="modal" style="padding-bottom: 20px; height: auto">
    <div class="close">
      <fa-icon (click)="showInfo()" [icon]="icons.windowClose"></fa-icon>
    </div>
    <div class="title">
      <fa-icon [icon]="icons.infoCircle"></fa-icon>
    </div>
    <div class="text">
      Nom de l'application : {{title}}<br>
      <hr>
      Dernier version : {{version}}<br>
      <hr>
      Date de la dernier version : {{build}}<br>
      <hr>
      Téléchargement des version : <a (click)="openLink('https://github.com/Thesam1798/EclosiaLauncher/releases')"
                                      href="#">GitHub</a><br>
    </div>
  </div>
</div>
