/* You can add global styles to this file, and also import other style files */
@import "assets/fontawesome/scss/fontawesome";
@import "assets/fontawesome/scss/brands";
@import "assets/fontawesome/scss/solid";
@import "assets/fontawesome/scss/regular";

body {
  color: #FBFBFB;
  margin: 0
}

@font-face {
  font-family: 'Avenir Book';
  src: url('assets/fonts/Avenir-Book.ttf');
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('assets/fonts/Avenir-Medium.ttf');
}

@font-face {
  font-family: 'Ringbearer';
  src: url('assets/fonts/Ringbearer.ttf');
}
